<div class="counter">
    <span>{{ seconds < 10 ? '0' + seconds : seconds }}:{{ miliseconds < 10 ? '0'+miliseconds : miliseconds }}</span>
    <button (click)="start()">{{ button1_name }}</button><button (click)="reset()"> {{ button2_name }}</button>
</div>