/* You can add global styles to this file, and also import other style files */
@font-face {
    font-display: fallback;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 300;
    src: url(font-source/8f817882133c75e11fb4739384efc936.woff2) format("woff2"),url(font-source/9cb5ad442de742f2750dfd285a1ccfa6.woff) format("woff"),url(font-source/81c89e7a72ab51dcac52a79ef30fedff.otf) format("opentype")
}

@font-face {
    font-display: fallback;
    font-family: Merriweather;
    font-style: italic;
    font-weight: 300;
    src: url(font-source/bbede2561092dc0db135098034d3fcdf.woff2) format("woff2"),url(font-source/f253f99009f6191e9e02dae044a7c422.woff) format("woff"),url(font-source/fe5ce9971a7e11bd216818d678026e7c.otf) format("opentype")
}

@font-face {
    font-display: fallback;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 700;
    src: url(font-source/b37da3e45ed869d0e259890885a0324a.woff2) format("woff2"),url(font-source/f842e6e9bc37a6d7a80354c19912dedc.woff) format("woff"),url(font-source/0a86e17f3e876a2d091adc2ad506ecd6.otf) format("opentype")
}

@font-face {
    font-display: fallback;
    font-family: Merriweather;
    font-style: italic;
    font-weight: 700;
    src: url(font-source/f1120c565fd430a380ecf90e22858752.woff2) format("woff2"),url(font-source/d8c87e05a137990d12deb6cb58c9424e.woff) format("woff"),url(font-source/2a75bdabadfdc7422080f29fddbb7ddb.otf) format("opentype")
}

@font-face {
    font-display: fallback;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 100;
    src: url(/font-source/7e21106cfaee6810c117d150a28c79dd.woff2) format("woff2"),url(/font-source/22011fa83377b58b330090582b2be3e3.woff) format("woff"),url(font-source/284561febf8d2608625142c4c5a0be05.otf) format("opentype")
}

@font-face {
    font-display: fallback;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 300;
    src: url(/font-source/427e348e30259e82835b923a946530a1.woff2) format("woff2"),url(/font-source/768f38d95d4ade8f29b58f6b8bf55d49.woff) format("woff"),url(font-source/ac51ad8a36d5bab6da11d454bcd06561.otf) format("opentype")
}

@font-face {
    font-display: fallback;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    src: url(/font-source/40a6e2b8c2bc99f6d71b9f93dbf695fe.woff2) format("woff2"),url(/font-source/7cac85ffd14a52221fddc4c497dfd26c.woff) format("woff"),url(font-source/bf9f5d50c1b928ff21436517a1a95ad9.otf) format("opentype")
}

@font-face {
    font-display: fallback;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    src: url(/font-source/3fb023cbbea947bff794503fdfba1cec.woff2) format("woff2"),url(/font-source/791f9bea40ce639002df71e98e01176c.woff) format("woff"),url(font-source/f14eee643541cf03a10f26c944cc29f5.otf) format("opentype")
}

@font-face {
    font-display: fallback;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    src: url(/font-source/cf9a74845c1e3f6d0b7f8b4e351b3971.woff2) format("woff2"),url(/font-source/00314075ec9f213755424089877a8298.woff) format("woff"),url(font-source/72b6f2c9990bd3d37b8013a59ed78902.otf) format("opentype")
}

@font-face {
    font-display: fallback;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    src: url(font-source/f36c405479ad7917fcb2b9917c7e8122.woff2) format("woff2"),url(/font-source/6002d09ce81f4a15b9c955d1abbb1f2b.woff) format("woff")
}

@font-face {
    font-display: fallback;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    src: url(font-source/204cf1c09ac43e5500c5d0e635369971.woff2) format("woff2"),url(/font-source/dce655bfa87ae98e1f5c167943b744da.woff) format("woff")
}

.counter{
    display: block;
    font-family: 'IBM Plex Mono';
    font-weight: 100;
    font-size: 10rem;
    margin: 0 auto;
    width: min-content;
}

app-root{
    display: block;
}

button{
    width: 50%;
    height: 5rem;
    font-size: 30px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
}